<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="MyWCFApp.Services.FruitService">
        <endpoint address="http://localhost:8500/fruits"
                  binding="basicHttpBinding"
                  contract="MyWCFApp.Contracts.IFruitService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>